{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- Main title -->
    <header class="base-header">
        <div class="header-content main-title">
            <h3 class="text-center header-text">The Mood Design</h3>
            <h2 class="text-center header-text text-white-90">Welcome to our workshop</h2>
        </div>
    </header>

    
    
    <!-- Body Content -->
    <header class="homepage-content">
        <!-- History Section -->
        <div class="d-block mx-auto">
            <div class="about-us row justify-content-around">
                <!-- Left side -->
                <div class="col-md-12 left d-block mx-auto">
                    <h1 class="header-text">About Us</h1>
                    <div class="w-100 my-5"></div>
                    <p class="home-page-text text-justify my-post">
                        <img src="{{ MEDIA_URL }}workshop.jpg" class="ml-3 float-right img-fluid" style="max-height: 500px;">
                        <em>Inspired by the sea and landscape of Ireland</em>
                        The Mood Designs is a ceramic business based in County Mayo, 
                        in the west of Ireland. Run by a couple Ella and Lukasz Szczerbak, 
                        this home-based studio mirrors the Irish Sea, landscape and weather.
                        The natural desire to tame and become part of nature provides them with
                        unending motivation.
                        <br>
                        As their pieces are inspired by the ever-changing sea,
                        landscape and weather, a clay medium allows them to immortalize
                        a moment in otherwise fluid creativity. Each hand finished
                        product is unique and has its own variations, while still
                        being part of a larger collection.
                    </p>
                    <p class="home-page-text text-justify">Our home and studio are surrounded by much of the scenery
                        which inspires our work. Croagh Patrick lies to the west
                        of us. Curving round the north of Clew Bay are the Hills
                        of Achill, their colours changing with the seasons.
                        Closer by we have the tracks that lead in to the cut-away
                        bogs, which are covered in rushes and standing water when
                        the soft rain falls over Ireland. The light continually
                        changes here with the movement of the clouds and reflections
                        from the sea. This stunning scenery inspires most of our
                        ideas which we incorporate into our ceramics; the mountains
                        are reflected in the shape of the bowls and our unique glaze
                        and use of glass mirrors the colours we see around us.
                        To date, The Mood Designs has two collections: the Sea range
                        and the Rain range. Each hand finished product is unique
                        and has its own variations, while still being part of
                        a larger collection.
                    </p>
                </div>
            </div>
        </div>
        <div class="col content">
          
            <!-- Event posts section -->
            <div class="row">
                {% for post in posts %}

                {% if post.image %}
                    {% if post.image.width > post.image.height %}
                    <div class="col-12 my-3 home-page-text border-light border-top mt-2 pt-4">
                        <h1 class="header-text">{{ post.title }}</h1>
                        <div class="col-md-12 mx-0">
                            <img class="card-img-top img-fluid height-50" src="{{ post.image.url }}" alt="post_image">
                        </div>
                        <p class="my-post">{{ post.body }}</p>
                        {% if request.user.is_authenticated %}
                        {% if request.user.is_superuser %}
                            <a href="{% url 'edit_post' post.id %}" class="btn btn-primary shop-now-btn border">Edit Post</a>
                        {% endif %}
                        {% endif %}

                    </div>
                    {% elif forloop.counter|divisibleby:"2" %}
                    <div class="col-12 my-3 home-page-text border-light border-top mt-2 pt-4">
                        <div class="row justify-content-around my-3 mx-0">
                            <div class="col-md-4 right mx-0">
                                <img class="card-img-top img-fluid" src="{{ post.image.url }}" alt="post_image">
                            </div>
                            <!-- Right side -->
                            <div class="col-md-6 mx-5 order-first">
                                <h1 class="header-text">{{ post.title }}</h1>
                                <p class="my-post">
                                    {{ post.body }}
                                </p>
                                <a href="{% url 'products' %}" class="btn btn-primary px-auto mx-auto shop-now-btn border">
                                    <p class="px-auto mx-auto">Shop now</p>
                                </a>
                            </div>
                            <div class="col-2 my-2 order-last">
                                {% if request.user.is_authenticated %}
                                {% if request.user.is_superuser %}
                                    <a href="{% url 'edit_post' post.id %}" class="btn btn-primary d-block mx-auto shop-now-btn border">Edit Post</a>
                                {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="h-10 my-5"></div>

                    {% else %}
                    <div class="col-12 my-3 home-page-text border-light border-top mt-2 pt-4">
                        <div class="row justify-content-around my-3 mx-0">
                            <div class="col-md-6 mx-5">
                                <h1 class="header-text">{{ post.title }}</h1>
                                <p class="my-post">
                                    {{ post.body }}
                                </p>
                                <a href="{% url 'products' %}" class="btn btn-primary px-auto mx-auto shop-now-btn border">
                                    <p class="px-auto mx-auto">Shop now</p>
                                </a>
                            </div>
                            <!-- Right side -->
                            <div class="col-md-4 order-first">
                                <img class="card-img-top img-fluid" src="{{ post.image.url }}" alt="post_image">
                            </div>
                            <div class="col-2 my-2 order-last">
                                {% if request.user.is_authenticated %}
                                {% if request.user.is_superuser %}
                                    <a href="{% url 'edit_post' post.id %}" class="btn btn-primary shop-now-btn border">Edit Post</a>
                                {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
        
                    <div class="h-10 my-5"></div>
                    <!-- End if forloop is even -->
                    {% endif %}
                <!-- End if post has image -->
                {% else %}
                <div class="col-12 my-3 home-page-text border-light border-top mt-2 pt-4">
                    <!-- Product out of stock  -->
                    <h1 class="header-text">{{ post.title }}</h1>
                    <p>{{ post.body }}</p>
                    {% if request.user.is_authenticated %}
                        {% if request.user.is_superuser %}
                            <a href="{% url 'edit_post' post.id %}" class="btn btn-primary px-auto mx-auto shop-now-btn border">Edit Post</a>
                        {% endif %}
                    {% endif %}
                </div>
                {% endif %}
                {% endfor %}

                <!-- Add posts section (Admin Only) -->
                <div class="col-md-2"></div>
                <div class="col-md-8 my-5 home-page-text">
                {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                        <h3 class="header-text">Add Post</h3>
                        <div class="row">
                            <div class="col-12 px-3">
                                <form method="POST" action="{% url 'send_post' %}" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {{ form | crispy }}
                                    <div>
                                        <div class="row">
                                            <div class="col-sm-12 center-align mb-5">
                                                <button type="submit" class="btn btn-primary px-auto mx-auto shop-now-btn border">
                                                    Add Post
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
                </div>
                <div class="col-md-2"></div>
            </div>

            <!-- This was moved to the base.html -->
            <!-- <div class="w-100 my-5"></div> -->

            <!-- Contanct Details -->
            <!-- <div class="col-md-12">
                <h1 class="header-text">Contact</h1>
                <p class="home-page-text">
                    Contact us or follow us on our social media.
                </p>
            </div> -->
        </div>
    </header>
<!-- Footer -->
<div class="border row mx-0 mb-5 my-footer">
    <div class="border col-12 text-center">Footer</div>

    <!-- Contact Details -->
    <div class="border col-md-12">
        <h1 class="my-footer">Contact</h1>
        <p class="my-footer">
            Contact us or follow us on our social media.
        </p>
    </div>

    <!-- Newsletter -->
    {% if request.user.is_authenticated %}
        {% if request.user.is_superuser %}
        {% else %}
            <div class="border col-md-6 text-center">
                Be up tp date with the latest news about our Shop and sign in for a newsletter.
            </div>
            <div class="border col-md-6 text-center">
                <form method="POST" action="{% url 'newsletter' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ newsletterForm | crispy }}
                    <div>
                        <div class="row">
                            <div class="col-sm-12 center-align mb-5">
                                <button type="submit" class="btn-large light-blue darken-1">
                                    Send
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        {% endif %}
    {% endif %}

    <!-- Social Media -->
    <div class="border col-12 text-center">Also visit out official Web Page and out social media form more information.</div>
    <div class="border col-2 text-center mx-auto px-auto"></div>
    <a href="#"
        class="border col-2 text-center mx-auto px-auto">FB</a>
    <a href="#"
        class="border col-2 text-center mx-auto px-auto">Page</a>
    <a href="#"
        class="border col-2 text-center mx-auto px-auto">Insta</a>
    <div class="border col-2 text-center mx-auto px-auto"></div>

</div>

{% endblock %}
