{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- Parallax header -->
    <header class="parallax-header">
        <div class="parallax-container">
            <div class="header-content">
                <h3 class="text-center header-text">The Mood Design</h3>
                <h2 class="text-center header-text">Welcome to our workshop</h2>
            </div>
        </div>
    <!-- /Parallax header -->
    </header>
    <!-- Event 1 -->
    <div class="body-container justify-content-around border">
        <div class="content row justify-content-around border">
            <!-- Left side -->
            <div class="col-md-3 offset-md-2 left border">
                <h1 class="primary-color">Event 1</h1>
                <p>
                    We've just created a green shamrock shaped something.
                </p>
            </div>
            <!-- Right side -->
            <div class="col-md-5 offset-md-2 right border">
                <img src="/media/images/green_shamrock.jpg" class="img-fluid">
            </div>
        </div>
    </div>
<!-- Second Parallax header -->
    <header class="parallax-header-2">
        <div class="parallax-container">
            <div class="content row justify-content-around border">
                <!-- Left side -->
                <div class="col-md-4 left border">
                    <h1>Event 1</h1>
                    <p class="home-page-text">
                        We've just created a green shamrock shaped something.
                    </p>
                </div>
                <!-- Right side -->
                <div class="col-md-6 right border">
                    <img src="/media/images/green_shamrock.jpg" class="img-fluid">
                </div>

                <div class="w-100"></div>

                <!-- Left side -->
                <div class="col-md-6 left border">
                    <img src="/media/images/blue_teabags_pot.jpg" class="img-fluid">
                </div>
                <!-- Right side -->
                <div class="col-md-4 right border">
                    <h1>Event 2</h1>
                    <p class="home-page-text">
                        We have created something else and it looks even more awesome.
                    </p>
                </div>
            </div>
        </div>
    <!-- /Parallax header -->
    </header>
    <!-- Event 2 -->



    <div class="container h-100">
        <div class="row h-100 border">
            <div class="col-7 col-md-6 col-lg-12 d-block mx-auto border">
                <h1 class="display-4 logo-font text-black border">
                    Handmade Gifts for You and your friends
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="" class="buy-now-button btn btn-lg rounded-0 text-uppercase py-3  border">Buy now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
