{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- Parallax header -->
    <header class="parallax-header">
        <div class="header-content main-title">
            <h3 class="text-center header-text">The Mood Design</h3>
            <h2 class="text-center header-text">Welcome to our workshop</h2>
        </div>
    </header>

    <!-- Event 1 -->
    <div class="d-block mx-auto">
        <div class="about-us row justify-content-around border">
            <!-- Left side -->
            <div class="col-md-12 left border d-block mx-auto">
                <h1 class="header-text">History</h1>
                <div class="w-100 my-5"></div>
                <p class="home-page-text text-justify">
                    <img src="/media/workshop.jpg" class="ml-3 float-right img-fluid" style="max-height: 500px;">
                    <em>Brief History of the Mood Design:</em>
                    Curabitur tortor lacus, posuere eget rhoncus et, efficitur vel quam.
                    Ut porttitor varius neque eu lacinia. In tempor nulla sed elit
                    posuere, vitae dictum metus ullamcorper. Morbi imperdiet maximus
                    arcu, nec malesuada felis convallis quis. Fusce semper quam tellus,
                    vel eleifend nibh mattis in. Nullam in dui pellentesque, imperdiet
                    ex a, ultrices felis. Vivamus eget faucibus quam, eu aliquam ligula.
                    Duis molestie varius lacus sed vehicula. Etiam ac tempus ipsum.
                    Suspendisse id nulla id sem tempor convallis. Ut tempus lobortis
                    massa sit amet rutrum. Pellentesque suscipit in nisi at pretium.
                    Integer bibendum augue nec purus laoreet pellentesque. Fusce a enim
                    id tortor porttitor viverra. Morbi a lectus sit amet sapien facilisis
                    bibendum. Pellentesque pharetra, erat sed iaculis sodales, ex erat
                    vulputate nisl, sed facilisis turpis ipsum a dui.

                    Quisque imperdiet felis ac odio dapibus, sed tempor elit blandit.
                    Morbi varius consectetur turpis ac lobortis. Nullam risus leo,
                    imperdiet fringilla arcu molestie, iaculis molestie sem. Suspendisse
                    id elit velit. Duis egestas fermentum odio vel aliquam. Curabitur
                    suscipit ornare lacus, non accumsan ipsum sollicitudin ut. Nunc
                    blandit nibh metus, nec cursus neque semper ac. In ornare leo eget
                    est luctus, ac ornare erat mollis. Sed maximus tempus quam,
                    eufaucibus quam bibendum ac. Proin nec mi nisi.
                </p>
            </div>
        </div>
    </div>

    
<!-- Second Parallax header -->
    <header class="parallax-header-2">
        <div class="col content">
            <!-- Event 1 -->
            <div class="row justify-content-around border">
                <div class="col-md-6 order-last border">
                    <img src="/media/images/green_shamrock.jpg" class="img-fluid d-block mx-auto">
                </div>
                <!-- Right side -->
                <div class="col-md-4 left border">
                    <h1 class="header-text">Event 1</h1>
                    <p class="home-page-text">
                        We've just created a green shamrock shaped something.
                    </p>
                </div>
            </div>

            <div class="w-100 my-5"></div>
            
            <!-- Event 2 -->
            <div class="row justify-content-around border">
                <div class="order-md-last col-md-4 right border">
                    <h1 class="header-text">Event 2</h1>
                    <p class="home-page-text">
                        We have created something else and it looks even more awesome than the previous one.
                    </p>
                </div>
                <!-- Right side -->
                <div class="col-md-6 border">
                    <img src="/media/images/blue_teabags_pot.jpg" class="img-fluid d-block mx-auto">
                </div>
            </div>

            <div class="w-100 my-5"></div>

            <!-- Contanct Details -->
            <div class="col-md-12 border">
                <h1 class="header-text">Contact</h1>
                <p class="home-page-text">
                    Contact us or follow us on our social media.
                </p>
            </div>
        </div>
    </header>
    <!-- Event 2 -->

{% endblock %}
