{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/profiles.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <header class="shop-page-header">
        <div class="header-content shop-title">
            <h2 class="text-center header-text">The Mood Design Shop</h2>
            <h4 class="text-center mt-5">Welcome to your profile {{ profile }}</h4>
        </div>
    </header>
    <div class="row mx-0">
        <div class="col-md-1"></div>
        <div class="col-md-4 my-3 mx-md-0">
            <h4 class="black text-center">Users Information</h4>
            <h6 class="font-weight-light text-center">These information are going to be used for shipping</h6>
            <form class="" action="{% url 'profile' %}" method="POST" id="profile-update-form">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-primary rounded-0 text-uppercase d-block mx-auto">Update Information</button>
            </form>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5 my-3 mx-md-0">
            <h4 class="black text-center">Order History</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-left">Order Number</th>
                        <th class="text-center">Date</th>
                        <th class="text-right">Order Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                        <tr>
                            <td text-left>
                                <a href="{% url 'order_history' order.order_number %}"
                                    title="{{ order.order_number }}">
                                    {{ order.order_number|truncatechars:11 }}
                                </a>
                                {{ order.order_date }}
                            </td>
                            <td class="text-center">
                                {{ order.date }}
                            </td>
                            <td class="text-right">
                                {{ order.order_total }}
                            </td>
                        </tr>
                    {% empty %}
                        <h5>No orders</h5>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-1"></div>
    </div>
   
{% endblock %}

