{% extends 'base.html' %}
{% load static %}


{% block content %}
    {% block css %}
    <style>
    body {
        background: url('{{ MEDIA_URL }}bg_image.webp');
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0;
    }

    label, .input-field>label{
        min-width: 100px;
        color: black;
    }
    </style>
    {% endblock %}
<div class="row mx-0">
    <div class="col-md-3"></div>
    <div class="login-panel text-center col-md-6 py-4">
        <h1 class="display-4 text-black">
            The page you are looking for isn't available
        </h1>
        <div class="my-5">
            <h4>
                <a href="{% url 'home' %}" 
                    class="shop-now-button btn btn-lg btn-primary py-3">
                        Return to Home Page
                </a>
            </h4>
        </div>
    </div>
  </div>

{% endblock %}