{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- Shop Page Header -->
    <header class="shop-page-header">
        <div class="shop-title">
            <h2 class="text-center header-text">Create a new Product</h2>
        </div>
    </header>

    <!-- Add Product Page content -->
    <div class="shop-page-content mb-5">
        <div class="row mx-0 w-xl-80">
            <div class="product-container col-10 offset-1">
                <div class="row mt-1 mb-2"></div>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <form method="POST" action="{% url 'add_product' %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form | crispy }}
                            <div>
                                <div class="row">
                                    <div class="col-sm-12 center-align mb-5">
                                        <button type="submit" class="btn-large light-blue darken-1">
                                            Add Item
                                        </button>
                                        <button type="reset" class="waves-light red btn-large" onclick="history.go(-1)">
                                            Cancel
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div> 
    </div>
{% endblock %}
