{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- Shop Page Header -->
    <header class="shop-page-header">
        <div class="header-content shop-title">
            <h2 class="text-center header-text">Delete this Product</h2>
        </div>
    </header>

    <!-- Add Product Page content -->
    <header class="shop-page-content">
        <div class="row mx-0 w-xl-80">
            <div class="product-container col-10 offset-1">
                <div class="row mt-1 mb-2"></div>
                <div class="row">
                    <a href="{% url 'products' %}" type="reset" class="button btn-primary">
                        Return
                    </a>
                </div>
            </div>
        </div> 
    </header>

{% endblock %}
