{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- Shop Page Header -->
    <header class="shop-page-header">
        <div class="shop-title">
            <h2 class="text-center header-text">Update this Product</h2>
        </div>
    </header>

    <!-- Add Product Page content -->
    <div class="shop-page-content">
        <div class="row mx-0 w-xl-80">
            <div class="product-container col-10 offset-1">
                <div class="row mt-1 mb-2"></div>
                <div class="row">
                    <div class="col-12 col-md-6 my-3">
                        {% if is_workshop %}
                        <form method="POST" action="{% url 'edit_service' product_id %}" enctype="multipart/form-data">
                        {% else %}
                        <form method="POST" action="{% url 'edit_product' product_id %}" enctype="multipart/form-data">
                        {% endif %}
                            {% csrf_token %}
                            {{ form | crispy }}
                            <div>
                                <div class="row">
                                    <div class="col s12 center-align">
                                        <button type="submit" class="btn btn-primary btn-large light-blue darken-1">
                                            Update Item
                                        </button>
                                        <button type="reset" class="btn btn-primary waves-light red btn-large" onclick="history.go(-1)">
                                            Cancel
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                    <div class="col-12 col-md-6 px-3 my-3">
                        <h4 class="text-center mb-4">Edit this Item</h4>
                    </div>
                </div>
            </div>
        </div> 
    </div>

{% endblock %}
