{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- Product Detail Page Header -->
    <header class="shop-page-header">
        <div class="shop-title">
            <h2 class="text-center header-text">The Mood Design Shop</h2>
        </div>
    </header>

    <!-- Product Detail Page Content -->
    <div class="shop-page-content">
        <div class="row mx-0 mt-5">
            <div class="product-container col-10 offset-1">
                <div class="row mb-5">
                    <!-- Product image column -->
                    <div class="col-md-7 col-lg-6 offset-lg-1 mw-50 order-md-first px-sm-5 px-lg-0 d-inline mx-md-auto">
                        {% if product.image %}
                            <a href="{{ product.image.url }}">
                                <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="product_image">
                            </a>
                        {% else %}
                            <a href="{% url 'product_detail' product.id %}">
                                <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}no_image.jpg"  alt="no-image">
                            </a>
                        {% endif %}

                        {% if product.quantity == 0 %}
                        <!-- Product OUT of Stock -->
                            <div class="row my-2 px-auto mx-auto">
                                <a class="btn btn-primary mx-auto" href="{% url 'products' %}">
                                    Keep Shopping
                                </a>
                            </div>
                            
                        {% else %}
                        <!-- Product on Stock -->
                            <form action="{% url 'add_to_basket' product.id %}" method="POST">
                                {% csrf_token %}
                                <div class="row form-row">
                                    <div class="col-12 text-center px-0 form-group">
                                        <div class="row mx-auto px-0 input-group d-block">
                                            <label class="col-12" for="id_qty_{{ product.id }}">Quantity</label>
                                            <input type="number" name="units" class="col-6 w-50 text-center form-control input-number qty_input d-inline" 
                                                value="1" min="1" max="{{ product.quantity }}"
                                                id="id_qty_{{ product.id }}">
                                                <!-- 
                                                    usunąłem z powyższej linijki nast kod
                                                    data.item_id="{{ product.id }}"
                                                 -->
                                        </div>
                                    </div>
                                    
                                    <div class="col-12">
                                        <div class="row">
                                            <a class="col-5 col-md-5 btn btn-primary px-0 mx-auto" href="{% url 'products' %}">
                                                Keep Shopping
                                            </a>
                                            <div class="col-2 d-none d-sm-block"></div>
                                            <input class="col-5 col-md-5 btn btn-primary px-0 mx-auto" type="submit" value="Add to Basket">
                                        </div>
                                    </div>
                                </div>
                            </form>

                        {% endif %}
                    </div>

                    <!-- Product detail column -->
                    <div class="col-md-5 order-first order-md-2 d-inline mx-md-auto">
                        <h2>{{ product.name }}</h2>
                        <small class="text-muted">Design by {{ product.designer }}</small>

                        <p>{{ product.description }}</p>

                        {% if product.quantity == 0 %}
                        <h2 class="text-center p-5">Product temporarily out of stock</h2>
                        {% else %}
                        <div class="row">
                            <p class="col-6 text-left"><strong>€{{ product.price }}</strong></p>
                            <p class="col-6 text-right">On Stock: {{ product.quantity }}</p>
                            <div class="col-12"></div>
                            <small class="col-12 text-center mt-5">* All our products are designed by Mood Designs and handmade in Mayo 
                                using 100% Irish stoneware.
                                They are all dishwasher-friendly.
                            </small>
                            <small class="col-12 text-center">Thank you for visiting!
                                We wish you a pleasant experience.
                            </small>
                            <small class="col-12 text-right">Ela and Lukasz</small>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div> 
    </div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% endblock %}
