{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- Product Detail Page Header -->
    <header class="shop-page-header">
        <div class="header-content shop-title">
            <h2 class="text-center header-text">The Mood Design Shop</h2>
            <h4 class="text-center mt-5">Our Products:</h4>
        </div>
    </header>

    <!-- Product Detail Page Content -->
    <header class="shop-page-content">
        <div class="row mx-0 mt-5">
            <div class="product-container col-10 offset-1">
                <div class="row">
                    <div class="col-lg-6 offset-md-1 mw-50 order-lg-first px-sm-5 px-lg-0 d-inline mx-md-auto">
                        {% if product.image %}
                            <a href="{{ product.image.url }}">
                                <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="product_image">
                            </a>
                        {% else %}
                            <a href="{% url 'product_detail' product.id %}">
                                <img class="card-img-top img-fluid" src="/media/no_image.jpg"  alt="no-image">
                            </a>
                        {% endif %}
                    </div>
                    <div class="col-lg-3 offset-md-2 order-first order-lg-2 d-inline mx-md-auto">
                        <h2 class="">{{ product.name }}</h2>
                        <p>Adjust the size of the image. Make it smaller in -md.
                            and larger on lg+
                        </p>
                        <p>Adding items to the basket doesn't decrease the number 
                            of this item on stock
                        </p>

                        <p>Remember about Plus and Minus buttons commented in the template
                            And quantity_input_script in the product/templates which isn't used
                        </p>

                        <p>{{ product.description }}</p>

                        {% if product.quantity == 0 %}
                        <h2 class="text-center p-5">Product temporarily out of stock</h2>
                        {% else %}
                        <p class="text-right">On Stock: {{ product.quantity }}</p>

                        <form action="{% url 'add_to_basket' product.id %}" method="POST">
                            {% csrf_token %}
                            <div class="row form-row">
                                <p class="col-12">Quantity</p>
                                <div class="col-12 mx-auto px-0 form-group">
                                    <div class="row  mx-auto px-0 input-group d-block">
                                        <!-- <span class="col-2  mx-auto px-0 input-group-prepend d-inline">
                                            <button type="button" class="decrement-qty btn btn-outline-secondary btn-number"
                                                data-type="minus" data-field="units"
                                                data-item_id="{{ product.id }}"
                                                id="decrement-qty_{{ product.id }}">
                                                <span class="fa fa-minus"></span>
                                            </button>
                                        </span> -->
                                        <input type="number" name="units" class="col-6 w-50 text-center form-control input-number qty_input d-inline" 
                                            action="{% url 'adjust_qty_on_stock' product.id %}"
                                            value="1" min="1", max="{{ product.quantity }}"
                                            data.item_id="{{ product.id }}"
                                            id="id_qty_{{ product.id }}">
                                        <!-- <span class="col-2 mx-auto px-0 input-group-append d-inline">
                                            <button type="button" class="increment-qty btn btn-outline-secondary btn-number"
                                                data-type="plus" data-field="units"
                                                data-item_id="{{ product.id }}"
                                                id="increment-qty_{{ product.id }}">
                                                <span class="fa fa-plus"></span>
                                            </button>
                                        </span> -->
                                    </div>
                                </div>
                                <div class="col-8 offset-4">
                                    <a class="btn btn-primary" href="{% url 'products' %}">
                                        Keep Shopping
                                    </a>
                                    <input class="btn btn-primary" type="submit" value="Add to Basket">
                                </div>
                            </div>
                        </form>
                        {% endif %}
                        
                        <a class="d-none d-lg-block btn btn-primary" href="#">N/A</a>
                    </div>
                    <div class="col-lg-12 d-lg-none my-3 px-sm-5 px-lg-0 order-last">
                        <a class="btn btn-primary" href="#">N/A</a>
                    </div>
                </div>
            </div>
        </div> 
    </header>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}
