{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- Shop Page Header -->
    <header class="shop-page-header">
        <div class="shop-title">
            <h2 class="text-center header-text">The Mood Design Shop</h2>
            <h3 class="text-center mt-5">Our Products:</h3>
        </div>
    </header>

    <!-- Shop Page Content -->
    <div class="shop-page-content">
        <div class="row mx-0 w-xl-80">
            <div class="dropdown mx-auto my-3">
                <a class="btn btn-outline-info dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Choose Category
                </a>
              
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" href="{% url 'products' %}">All Products</a>
                  <a class="dropdown-item" href="{% url 'products' %}?category=dishes">Dishes</a>
                  <a class="dropdown-item" href="{% url 'products' %}?category=ornaments">Ornaments</a>
                </div>
            </div>
            <div class="product-container col-10 offset-1">
                <div class="row mt-1 mb-2"></div>
                <div class="row">
                    {% for product in products %}
                        {% if product.category != excluded_category %}
                            <div class="col-sm-6 col-md-4 col-lg-3 my-3" >
                                <!-- Product out of stock  -->
                                {% if product.quantity == 0 %}
                                <div class="card h-100 border-1 rounded-5">
                                    <div class="card h-100">
                                        {% if product.image %}
                                            <a href="{{ product.image.url }} ">
                                                <img class="card-img-top img-fluid" 
                                                    src="{{ product.image.url }}"
                                                    alt="product_image">
                                                <div class="card-img-overlay my-4">
                                                    <p class="card font-weight-bolder text-secondary text-center my-4 py-3 px-2">
                                                        Product temporarily out of stock
                                                    </p>
                                                </div>
                                            </a>
                                        {% else %}
                                            <a href="{% url 'product_detail' product.id %}">
                                                <img class="card-img-top img-fluid"
                                                    src="{{ MEDIA_URL }}no_image.jpg"
                                                    alt="no-image">
                                            </a>
                                        {% endif %}
                                        <div class="card-body">
                                            <p>{{ product.name }}</p>
                                        </div>
                                        <div class="card-footer">
                                            <div class="row">
                                                <div class="col">
                                                    <div class="row">
                                                        <p class="lead left text-left mx-auto d-inline font-weight-bold">
                                                            <s> €{{ product.price }} </s>
                                                        </p>
                                                        <!-- Default dropup button -->
                                                        <div class="btn-group right dropup mx-auto d-inline">
                                                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                Click
                                                            </button>
                                                            <div class="dropdown-menu dropdown-menu-left my-dropdown-button">
                                                            <!-- Dropdown menu links -->
                                                                <a class="dropdown-item disabled" href="#">Add To Basket</a>
                                                                <a class="dropdown-item" href="{% url 'product_detail' product.id %}">Display Details</a>
                                                                {% if request.user.is_authenticated %}
                                                                    {% if request.user.is_superuser %}
                                                                        <div class="dropdown-divider"></div>
                                                                        <a class="dropdown-item" href="{% url 'edit_product' product.id %}">Edit Item</a>
                                                                        <a class="dropdown-item btn-danger" href="{% url 'delete_product' product.id %}">Delete Item</a>
                                                                    {% endif %}
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% else %}
                                <!-- Product on stock -->
                                <div class="card h-100 border-1 rounded-5">
                                    <div class="card h-100">
                                        {% if product.image %}
                                            <a href="{{ product.image.url }}">
                                                <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="product_image">
                                            </a>
                                        {% else %}
                                            <a href="{% url 'product_detail' product.id %}">
                                                <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}no_image.jpg"  alt="no-image">
                                            </a>
                                        {% endif %}
                                        <div class="card-body">
                                            <p class="">{{ product.name }}</p>
                                        </div>
                                        <div class="card-footer">
                                            <div class="row">
                                                <div class="col">
                                                    <div class="row">
                                                        <p class="lead left text-left mx-auto d-inline font-weight-bold">
                                                            €{{ product.price }}
                                                        </p>
                                                        <!-- Default dropup button -->
                                                        <div class="btn-group right dropup mx-auto d-inline">
                                                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                Click
                                                            </button>
                                                            <div class="dropdown-menu dropdown-menu-left my-dropdown-button">
                                                            <!-- Dropdown menu links -->
                                                                    <form action="{% url 'add_to_basket' product.id %}" method="POST">
                                                                        {% csrf_token %}
                                                                        <div class="row">
                                                                            <div class="dropdown-item col-12 text-center mb-0">
                                                                                <input class="btn btn-white py-0 mx-auto text-center" type="submit" value="Add to Basket">
                                                                            </div>
                                                                            <div class="col-12 text-center mb-2 px-0 mx-auto form-group">
                                                                                <div class="row mx-auto px-0 input-group d-block">
                                                                                    <input type="number" name="units" class="col-6 w-50 text-center form-control input-number qty_input d-inline" 
                                                                                        value="1" min="1" max="{{ product.quantity }}"
                                                                                        item_id="{{ product.id }}" 
                                                                                        id="id_qty_{{ product.id }}">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </form>

                                                                <a class="dropdown-item" href="{% url 'product_detail' product.id %}">Display Details</a>
                                                                {% if request.user.is_authenticated %}
                                                                    {% if request.user.is_superuser %}
                                                                        <a class="dropdown-item" href="{% url 'edit_product' product.id %}">Edit Item</a>
                                                                        <a class="dropdown-item" href="{% url 'delete_product' product.id %}">Delete Item</a>
                                                                    {% endif %}
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% if request.user.is_authenticated %}
                {% if request.user.is_superuser %}
                    <a href="{% url 'add_product' %}" class="button fixed-button btn-success text-decoration-none">Add Item</a>
                {% endif %}
            {% endif %}
        </div> 
    </div>

{% endblock %}

{% block footer %}
{% endblock %}