{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- Shop Page Header -->
    <header class="shop-page-header">
        <div class="header-content shop-title">
            <h2 class="text-center header-text">The Mood Design Shop</h2>
            <h4 class="text-center mt-5">Our Products:</h4>
        </div>
    </header>

    <!-- Shop Page Content -->
    <header class="shop-page-content">
        <div class="row mx-0 w-xl-80">
            <div class="product-container col-10 offset-1">
                <div class="row mt-1 mb-2"></div>
                <div class="row">
                    {% for product in products %}
                        <div class="col-sm-6 col-md-4 col-lg-3 my-3">
                            <div class="card h-100 border-1 rounded-5">
                                <div class="card h-100">
                                    {% if product.image %}
                                        <a href="{{ product.image.url }}">
                                            <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="product_image">
                                        </a>
                                    {% else %}
                                        <a href=" url 'product' product.id ">
                                            <img class="card-img-top img-fluid" src="/media/no_image.jpg"  alt="no-image">
                                        </a>
                                    {% endif %}
                                    <div class="card-body">
                                        <p class="">{{ product.name }}</p>
                                    </div>
                                    <div class="card-footer">
                                        <div class="row">
                                            <div class="col">
                                                <div class="row">
                                                    <p class="lead left text-left mx-auto d-inline font-weight-bold">
                                                        {{ product.price }}€
                                                    </p>
                                                    <!-- Default dropup button -->
                                                    <div class="btn-group right dropup mx-auto d-inline">
                                                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            Click
                                                        </button>
                                                        <div class="dropdown-menu dropdown-menu-left">
                                                        <!-- Dropdown menu links -->
                                                            <a class="dropdown-item" href="#">Add To Basket</a>
                                                            <a class="dropdown-item" href="{% url 'product_detail' product.id %}">Display Details</a>
                                                            <a class="dropdown-item text-wrap" href="#">I want to make it myself</a>
                                                            {% if request.user.is_authenticated %}
                                                                {% if request.user.is_superuser %}
                                                                    <div class="dropdown-divider"></div>
                                                                    <a class="dropdown-item" href="#">Edit Item (Admin Only)</a>
                                                                    <a class="dropdown-item" href="#">Delete Item (Admin Only)</a>
                                                                {% endif %}
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% if request.user.is_authenticated %}
                {% if request.user.is_superuser %}
                    <a href="{% url 'add_product' %}" class="button fixed-button btn-primary text-decoration-none">Add Item</a>
                {% endif %}
            {% endif %}
        </div> 
    </header>

{% endblock %}
