{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- Shop Page Header -->
    <header class="shop-page-header">
        <div class="header-content shop-title">
            <h2 class="text-center header-text">The Mood Design Shop</h2>
            <h4 class="text-center mt-5">Our Products:</h4>
        </div>
    </header>

    <!-- Shop Page Content -->
    <header class="parallax-content">
        <div class="row mx-0">
        <div class="product-container col-10 offset-1">
            <div class="row mt-1 mb-2"></div>
            <div class="row">
                {% for product in products %}
                    <div class="col-sm-6 col-md-4 col-lg-3 my-3">
                        <div class="card h-100 border-0">
                            <div class="card h-100">
                                {% if product.image %}
                                    <a href="#">
                                        <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="product_image">
                                    </a>
                                {% else %}
                                    <a href="">
                                        <img class="card-img-top img-fluid" src="/media/no_image.jpg"  alt="no-image">
                                    </a>
                                {% endif %}
                                <div class="card-body">
                                    <p class="">{{ product.name }}</p>
                                </div>
                                <div class="card-footer">
                                    <div class="row">
                                        <div class="col">
                                            <p class="lead text-left font-weight-bold">
                                                {{ product.price }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div> 
    </header>

{% endblock %}
