{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- Shop Page Header -->
    <header class="shop-page-header">
        <div class="header-content shop-title">
            <h2 class="text-center header-text">The Mood Design Workshop</h2>
            <h4 class="text-center mt-5">Creater your own gifts with us</h4>
        </div>
    </header>

    <!-- Shop Page Content -->
    <header class="shop-page-content">
        <div class="row mx-0 w-xl-80">
            <div class="product-container col-10 offset-1">
                <div class="row mt-1 mb-2"></div>
                <div class="row">
                    <p>Ceramics is not only hobby for us, it’s a way of life that we love.
                        We are honored to be able to spread our interpretations of
                        Irish beauty to other craft-enthusiasts and nature lovers
                    </p>
                    <h4 class="px-auto text-center">Join our adventure and lets make some ceramics
                        together. We are happy to share our passion with you.
                        Clay is a amazing material to work with, can be very therapeutic and relaxing.
                        You can join our workshops at new premises in Castlebar, where we can
                        facilitate up to 14 people per class
                    </h4>
                    <p>Our home and studio are surrounded by much of the scenery
                        which inspires our work. Croagh Patrick lies to the west
                        of us. Curving round the north of Clew Bay are the Hills
                        of Achill, their colours changing with the seasons.
                        Closer by we have the tracks that lead in to the cut-away
                        bogs, which are covered in rushes and standing water when
                        the soft rain falls over Ireland. The light continually
                        changes here with the movement of the clouds and reflections
                        from the sea. This stunning scenery inspires most of our
                        ideas which we incorporate into our ceramics; the mountains
                        are reflected in the shape of the bowls and our unique glaze
                        and use of glass mirrors the colours we see around us.
                        To date, The Mood Designs has two collections: the Sea range
                        and the Rain range. Each hand finished product is unique
                        and has its own variations, while still being part of
                        a larger collection.</p>
                </div>
            </div>
        </div> 
    </header>

{% endblock %}
