{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- Shop Page Header -->
    <header class="shop-page-header">
        <div class="header-content shop-title">
            <h2 class="text-center header-text">The Mood Designs</h2>
            <h4 class="text-center mt-5">Welcome To Our Workshop</h4>
        </div>
    </header>

    <!-- Shop Page Content -->
    <div class="shop-page-content">
        <div class="row mx-0 w-xl-80">
            <div class="product-container col-10 offset-1">
                <h3 class="col-12 text-center my-5">Ceramics is not only hobby for us,
                    it’s a way of life that we love.
                    We are honored to be able to spread our interpretations of
                    Irish beauty to other craft-enthusiasts and nature lovers
                </h3>
                <h4 class="col-12 px-auto mt-5">Join our adventure and lets make some ceramics
                    together. We are happy to share our passion with you.
                    Clay is a amazing material to work with, can be very therapeutic
                    and relaxing.
                    You can join our workshops at new premises in Castlebar,
                    where we can facilitate up to 14 people per class.
                </h4>
                <div class="row my-5 pt-4 border-top border-secondary">
                    {% for product in products %}
                    {% if product.category == category %}
                    <!-- product card -->
                    <div class="col-md-5 mb-md-3">
                        <div class="card h-100 border-1 rounded-5">
                            <div class="card h-100">
                                    {% if product.image %}
                                        <a href="{{ product.image.url }}">
                                            <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="product_image">
                                        </a>
                                        {% else %}
                                        <a href="{% url 'product_detail' product.id %}">
                                            <img class="card-img-top img-fluid"
                                            src="{{ MEDIA_URL }}no_image.jpg"
                                            alt="no-image">
                                        </a>
                                    {% endif %}

                                    <div class="card-footer">
                                        <div class="row">
                                            <div class="col">
                                                <div class="row">
                                                    <!-- Price box -->
                                                    <p class="col-12 lead left text-center m-auto d-inline font-weight-bold">
                                                        €{{ product.price }}
                                                    </p>
                                                    <!-- Default dropup button -->
                                                    {% if request.user.is_authenticated %}
                                                        {% if request.user.is_superuser %}
                                                        <div class="btn-group right dropup mx-auto d-inline">
                                                            <a href="{% url 'edit_service' product.id %" type="button" class="btn btn-primary">
                                                                Edit Item
                                                            </a>
                                                              <a href="{% url 'delete_service' product.id %}" type="button" class="btn btn-danger">
                                                                Delete Item
                                                            </a>
                                                        </div>
                                                        {% else %}
                                                            <div class="col-12">
                                                                <form action="{% url 'add_to_basket' product.id %}" method="POST">
                                                                    {% csrf_token %}
                                                                    <div class="row">
                                                                        <div class="col-5 text-center my-2 px-0 mx-lg-auto form-group">
                                                                            <div class="row mx-auto px-0 input-group d-block">
                                                                                <input type="number" name="units"
                                                                                    class="col-6 w-50 text-center px-0 form-control input-number qty_input d-inline" 
                                                                                    action="{% url 'adjust_qty_on_stock' product.id %}"
                                                                                    value="1" min="1", max="{{ product.quantity }}"
                                                                                    data.item_id="{{ product.id }}"
                                                                                    id="id_qty_{{ product.id }}">
                                                                            </div>
                                                                        </div>
                                                                        
                                                                        <div class="col-7 my-2 px-auto mx-auto">
                                                                            <input class="btn btn-primary mx-auto px-2" type="submit" value="Add to Basket">
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        {% endif %}
                                                    {% else %}
                                                        <!-- Add to basket box and form -->
                                                        <div class="col-12">
                                                            <form action="{% url 'add_to_basket' product.id %}" method="POST">
                                                                {% csrf_token %}
                                                                <div class="row">
                                                                    <div class="col-5 text-center my-2 px-0 mx-lg-auto form-group">
                                                                        <div class="row mx-auto px-0 input-group d-block">
                                                                            <input type="number" name="units"
                                                                                class="col-6 w-50 text-center px-0 form-control input-number qty_input d-inline" 
                                                                                action="{% url 'adjust_qty_on_stock' product.id %}"
                                                                                value="1" min="1", max="{{ product.quantity }}"
                                                                                data.item_id="{{ product.id }}"
                                                                                id="id_qty_{{ product.id }}">
                                                                        </div>
                                                                    </div>
                                                                    
                                                                    <div class="col-7 my-2 px-auto mx-auto">
                                                                        <input class="btn btn-primary mx-auto px-2" type="submit" value="Add to Basket">
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Card footer closing -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7 mb-3 mb-md-1 mt-4 mt-md-0">
                            <h5 class="text-center">{{ product.name }}</h5>
                            <p>
                                {{ product.description }}
                            </p>
                        </div>
                        <span class="col-12 my-3 border-bottom border-secondary"></span>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% if request.user.is_authenticated %}
            {% if request.user.is_superuser %}
                <a href="{% url 'add_product' %}" class="button fixed-button btn-success text-decoration-none">Add Item</a>
            {% endif %}
            {% endif %}
        </div> 
    </div>

{% endblock %}

{% block footer %}
{% endblock %}
